// Layout
.App {
    width: 100%;
  }
  
  .wrapper {
    margin: 0 auto;
  
    width: 1200px;
  }
  
  // Layout 반응형
  @media only screen and (max-width: 1300px) {
    .wrapper {  
      width: 90%;
    }
  }