// Vars
:root {
    // Colour set
    --black: #000;
    --black100: #222;
    --black200: #555;
    --black300: #ccc;
    --black400: #fafafa;
  
    --white: #fff;
  
    --subColorSkyBlue: #47a4ff;
    --subColorSkyBlue100: #d5eaff;
    --subColorPurple: #a968ff;
  
    // font set
    --mainfont-playfairDisplay: "PlayfairDisplay";
  
    // font size set
    font-size: 16px;
  
    // Optimize font
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    // responsive font
    @media only screen and (max-width: 1000px) {
      font-size: 14px;
    }
  
    @media only screen and (max-width: 800px) {
      font-size: 13px;
    }
  
    @media only screen and (max-width: 600px) {
      font-size: 12px;
    }
  
    @media only screen and (max-width: 400px) {
      font-size: 11px;
    }
  }